[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Environment=JAVA_HOME=/opt/java/default
ExecStart={{ kafka_installation_path }}/bin/zookeeper-server-start.sh {{ kafka_installation_path }}/config/zookeeper.properties
ExecStop={{ kafka_installation_path }}/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
